In [1]:
import pandas as pd

raw_data = pd.read_json("../items.json")
print(raw_data.iloc[2])

answer_count                                                     879
articles_count                                                    17
avatar_url                   https://pic1.zhimg.com/36625a7b4_is.jpg
business           {'id': '20010720', 'type': 'topic', 'url': 'ht...
description        合作请邮件联系。设计预约请私信或邮件 sunlau@me.com，告知城市+期待入住时间+整...
educations         [{'school': {'id': '', 'type': 'topic', 'url':...
employments        [{'job': {'id': '19552637', 'type': 'topic', '...
favorited_count                                               191226
follower_count                                                443647
following_count                                                  414
gender                                                             1
headline                                                室内设计师 ，自由码字人
locations          [{'id': '19595689', 'type': 'topic', 'url': 'h...
name                                                          SunLau
thanked_count                                                  33485
url_token                                                     sunlau
user_type                                                     people
voteup_count                                                   90058
Name: 2, dtype: object

# 统计居住地分布

In [2]:
def sava_dict_count(attribute, dictionary):
  import json
  with open(attribute+"_count.json", 'w', encoding='utf-8') as f:
      json.dump(dictionary, f, ensure_ascii=False, indent=4)

In [3]:
for city in raw_data.locations.iloc[2]:
  print(city["name"])

苏州
济南
郑州
东莞
北京

In [3]:
dict_citymap = {
  "北京": ["北京"],
  "天津": ["天津"],
  "山西": ["太原", "阳泉", "晋城", "长治", "临汾", "运城", "忻州", "吕梁", "晋中", "大同", "朔州"],
  "河北": ["沧州", "石家庄", "唐山", "保定", "廊坊", "衡水", "邯郸", "邢台", "张家口", "辛集", "秦皇岛", "定州", "承德", "涿州"],
  "山东": ["济南", "淄博", "聊城", "德州", "滨州", "济宁", "菏泽", "枣庄", "烟台", "威海", "泰安", "青岛", "临沂", "莱芜", "东营", "潍坊", "日照"],
  "河南": ["郑州", "新乡", "鹤壁", "安阳", "焦作", "濮阳", "开封", "驻马店", "商丘", "三门峡", "南阳", "洛阳", "周口", "许昌", "信阳", "漯河", "平顶山", "济源"],
  "广东": ["珠海", "中山", "肇庆", "深圳", "清远", "揭阳", "江门", "惠州", "河源", "广州", "佛山", "东莞", "潮州", "汕尾", "梅州", "阳江", "云浮", "韶关", "湛江", "汕头", "茂名"],
  "浙江": ["舟山", "温州", "台州", "绍兴", "衢州", "宁波", "丽水", "金华", "嘉兴", "湖州", "杭州"],
  "宁夏": ["中卫", "银川", "吴忠", "石嘴山", "固原"],
  "江苏": ["南京","镇江", "扬州", "盐城", "徐州", "宿迁", "无锡", "苏州", "南通", "南京", "连云港", "淮安", "常州", "泰州"],
  "湖南": ["长沙", "邵阳", "怀化", "株洲", "张家界", "永州", "益阳", "湘西", "娄底", "衡阳", "郴州", "岳阳", "常德", "湘潭"],
  "吉林": ["长春", "长春", "通化", "松原", "四平", "辽源", "吉林", "延边", "白山", "白城"],
  "福建": ["漳州", "厦门", "福州", "三明", "莆田", "宁德", "南平", "龙岩", "泉州"],
  "甘肃": ["张掖", "陇南", "兰州", "嘉峪关", "白银", "武威", "天水", "庆阳", "平凉", "临夏", "酒泉", "金昌", "甘南", "定西"],
  "陕西": ["榆林", "西安", "延安", "咸阳", "渭南", "铜川", "商洛", "汉中", "宝鸡", "安康"],
  "辽宁": ["营口", "铁岭", "沈阳", "盘锦", "辽阳", "锦州", "葫芦岛", "阜新", "抚顺", "丹东", "大连", "朝阳", "本溪", "鞍山"],
  "江西": ["鹰潭", "宜春", "上饶", "萍乡", "南昌", "景德镇", "吉安", "抚州", "新余", "九江", "赣州"],
  "黑龙江": ["伊春", "七台河", "牡丹江", "鸡西", "黑河", "鹤岗", "哈尔滨", "大兴安岭", "绥化", "双鸭山", "齐齐哈尔", "佳木斯", "大庆"],
  "安徽": ["宣城", "铜陵", "六安", "黄山", "淮南", "合肥", "阜阳", "亳州", "安庆", "池州", "宿州", "芜湖", "马鞍山", "淮北", "滁州", "蚌埠"],
  "湖北": ["孝感", "武汉", "十堰", "荆门", "黄冈", "襄阳", "咸宁", "随州", "黄石", "恩施", "鄂州", "荆州", "宜昌", "潜江", "天门", "神农架", "仙桃"],
  "青海": ["西宁", "海西", "海东", "玉树", "黄南", "海南", "海北", "果洛"],
  "新疆": ["乌鲁木齐", "克州", "阿勒泰", "五家渠", "石河子", "伊犁", "吐鲁番", "塔城", "克拉玛依", "喀什", "和田", "哈密", "昌吉", "博尔塔拉", "阿克苏", "巴音郭楞", "阿拉尔", "图木舒克", "铁门关"],
  "贵州": ["铜仁", "黔东南", "贵阳", "安顺", "遵义", "黔西南", "黔南", "六盘水", "毕节"],
  "四川": ["成都市","遂宁", "攀枝花", "眉山", "凉山", "成都", "巴中", "广安", "自贡", "甘孜", "资阳", "宜宾", "雅安", "内江", "南充", "绵阳", "泸州", "凉山", "乐山", "广元", "甘孜", "德阳", "达州", "阿坝"],
  "上海": ["上海"],
  "广西": ["南宁", "贵港", "玉林", "梧州", "钦州", "柳州", "来宾", "贺州", "河池", "桂林", "防城港", "崇左", "北海", "百色"],
  "西藏": ["拉萨", "山南", "日喀则", "那曲", "林芝", "昌都", "阿里"],
  "云南": ["昆明", "红河", "大理", "玉溪", "昭通", "西双版纳", "文山", "曲靖", "普洱", "怒江", "临沧", "丽江", "红河", "迪庆", "德宏", "大理", "楚雄", "保山"],
  "内蒙古": ["呼和浩特", "乌兰察布", "兴安", "赤峰", "呼伦贝尔", "锡林郭勒", "乌海", "通辽", "巴彦淖尔", "阿拉善", "鄂尔多斯", "包头"],
  "海南": ["海口", "三沙", "三亚", "临高", "五指山", "陵水", "文昌", "万宁", "白沙", "乐东", "澄迈", "屯昌", "定安", "东方", "保亭", "琼中", "琼海", "儋州", "昌江"],
  "深圳": ["深圳"],
  "广州": ["广州"],
  "重庆": ["重庆"],
}

dict_reverse_citymap = {}
for shengfen, cities in dict_citymap.items():
  for city in cities:
    dict_reverse_citymap[city] = shengfen

dict_reverse_citymap['帝都'] = '北京'
dict_reverse_citymap['魔都'] = '上海'
# print(dict_reverse_citymap)

In [8]:
dict_city = {}

for ele in raw_data.locations:
  for city in ele:
    if city["name"] in dict_reverse_citymap:
      # 中国标准省份地名
      location = dict_reverse_citymap[city["name"]]
      if location not in dict_city:
        dict_city[location] = 1
      else:
        dict_city[location] += 1
    else:
      # 【非】中国标准省份地名
      location = city["name"].replace('省', '').replace('市', '')
      for key in dict_reverse_citymap:
        if location.find(key) !=-1:
          # print(location)
          location = dict_reverse_citymap[key]
      if location not in dict_city:
        dict_city[location] = 1
      else:
        dict_city[location] += 1

print("深圳市".find("深圳"))
dict_city = {k: dict_city[k] for k in sorted(dict_city, key=dict_city.get, reverse=True)}
# print(dict_city)
save_list_city = [
  {"location": location,
  "count": dict_city[location]} for location in dict_city
]
# print(save_list_city)

0

In [10]:
sava_dict_count("locations", save_list_city)
sava_dict_count("dict_locations", dict_city)

# 统计教育程度

In [4]:
print(raw_data.iloc[2].educations)

[{'school': {'id': '', 'type': 'topic', 'url': '', 'name': '东方红幼儿园', 'avatar_url': 'https://pic4.zhimg.com/e82bab09c_is.jpg', 'excerpt': '', 'introduction': ''}}]

In [3]:
def get_count_of_educations(data=raw_data["educations"], key="name"):
  ret_dict = {
    "school": {},
    "major": {},
    "diploma": {},
    }
  i=0
  for ele_list in data:
    for ele_dict in ele_list:
      for ele in ele_dict:
        try:
          # print(ret_dict)
          # print(ele,ele_dict[ele]["name"],ele_dict[ele])
          tmp_key = ele_dict[ele]["name"]
          if tmp_key not in ret_dict[ele]:
            ret_dict[ele][tmp_key] = 1
          else:
            ret_dict[ele][tmp_key] += 1
        except:
          pass
          # print(ele,ele_dict[ele])
      # print("---------")
      i += 1
      # if(i > 100): return 0
      
  ret_dict["school"] = {k: ret_dict["school"][k] for k in sorted(ret_dict["school"], key=ret_dict["school"].get, reverse=True)}
  ret_dict["major"] = {k: ret_dict["major"][k] for k in sorted(ret_dict["major"], key=ret_dict["major"].get, reverse=True)}
  ret_dict["diploma"] = {k: ret_dict["diploma"][k] for k in sorted(ret_dict["diploma"], key=ret_dict["diploma"].get, reverse=True)}
  return ret_dict



dictionary = get_count_of_educations()
sava_dict_count("educations", dictionary)
sava_dict_count("educations_school", dictionary["school"])
sava_dict_count("educations_major", dictionary["major"])
sava_dict_count("educations_diploma", dictionary["diploma"])

# 统计职业

In [14]:
attr_set = set()
for ele_list in raw_data["employments"]:
  for ele_dict in ele_list:
    for key in ele_dict.keys():
      attr_set.add(key)
print(attr_set)
print(raw_data["employments"][2])

{'job', 'company'}
[{'job': {'id': '19552637', 'type': 'topic', 'url': 'https://www.zhihu.com/topics/19552637', 'name': '合伙人', 'avatar_url': 'https://pic1.zhimg.com/9ccbe93b9_is.jpg', 'excerpt': '分享创业与合伙人相关的干货经验，交流学习', 'introduction': '分享创业与合伙人相关的干货经验，交流学习'}, 'company': {'id': '19733917', 'type': 'topic', 'url': 'https://www.zhihu.com/topics/19733917', 'name': 'ShowHouse室内设计事务所', 'avatar_url': 'https://pic4.zhimg.com/e82bab09c_is.jpg', 'excerpt': '', 'introduction': ''}}]

In [21]:
ret_dict = {
    "job": {},
    "company": {}
    }
def get_count_of_employments(data=raw_data["employments"], key="name"):
  i=0
  for ele_list in data:
    for ele_dict in ele_list:
      for ele in ele_dict:
        try:
          # print(ret_dict)
          # print(ele,ele_dict[ele]["name"],ele_dict[ele])
          tmp_key = ele_dict[ele]["name"]
          if tmp_key not in ret_dict[ele]:
            ret_dict[ele][tmp_key] = 1
          else:
            ret_dict[ele][tmp_key] += 1
        except:
          pass
          # print(ele,ele_dict[ele])
      # print("---------")
      i += 1
      # if(i > 100): return 0
    
  for key in ret_dict:
    ret_dict[key] = {k: ret_dict[key][k] for k in sorted(ret_dict[key], key=ret_dict[key].get, reverse=True)}
  return ret_dict



dictionary = get_count_of_employments()
sava_dict_count("employments", dictionary)
for key in ret_dict:
  sava_dict_count("employments_"+key, dictionary[key])

# 统计公司

In [24]:

print(raw_data["business"][2])
attr_set = set()
for ele_dict in raw_data["business"]:
  for key in ele_dict.keys():
    attr_set.add(key)
print(attr_set)

{'id': '20010720', 'type': 'topic', 'url': 'https://www.zhihu.com/topics/20010720', 'name': '创意艺术', 'avatar_url': 'https://pic4.zhimg.com/e82bab09c_is.jpg', 'excerpt': '', 'introduction': ''}
{'name', 'avatar_url', 'introduction', 'type', 'excerpt', 'id', 'url'}

In [33]:
ret_dict = {
    }
attr = "business"
data=raw_data[attr]
key="name"

i=0
for ele_dict in raw_data["business"]:
    try:
      # print(ret_dict)
      # print(ele,ele_dict[ele]["name"],ele_dict[ele])
      tmp_key = ele_dict["name"]
      if tmp_key not in ret_dict:
        ret_dict[tmp_key] = 1
      else:
        ret_dict[tmp_key] += 1
    except:
      pass
      # print(ele,ele_dict[ele])
    # print("---------")
    i += 1
    # if(i > 100): return 0
  
ret_dict = {k: ret_dict[k] for k in sorted(ret_dict, key=ret_dict.get, reverse=True)}
ret_dict.pop('', None)



dictionary = ret_dict
print(dictionary)
sava_dict_count(attr, dictionary)

{'互联网': 6991, '计算机软件': 2117, '高等教育': 1633, '创意艺术': 1205, '金融': 1163, '临床医疗': 950, '电子商务': 911, '教育': 852, '法律': 814, '高新科技': 744, '基础教育': 653, '科研': 639, '财务': 591, '电子游戏': 580, '咨询分析': 543, '房地产': 519, '政府': 501, '证券投资': 474, '汽车': 473, '培训': 462, '信息传媒': 446, '广播电视': 420, '资本投资': 406, '广告': 381, '银行': 367, '通信': 360, '机械设备': 328, '地产建筑': 317, '军火': 293, '出版业': 288, '旅游': 288, '电子电器': 283, '人力资源': 274, '非营利组织': 273, '计算机硬件': 269, '餐饮': 267, '医疗服务': 257, '体育健身': 252, '艺术娱乐': 242, '制药': 242, '进出口贸易': 218, '装饰装潢': 209, '电力电网': 199, '娱乐休闲': 185, '幼儿教育': 180, '化工业': 175, '审计': 174, '渔业': 170, '服务业': 168, '市场推广': 167, '环境保护': 162, '建筑设备': 161, '保险': 158, '生物工程': 153, '畜牧养殖业': 152, '食品饮料业': 143, '零售': 142, '种植业': 142, '职业教育': 138, '制造加工': 137, '民用航空业': 129, '电影录音': 124, '美容': 124, '服装业': 121, '公共服务': 112, '国防军事': 110, '护理服务': 110, '景观': 108, '图书馆': 107, '公共管理': 96, '酒店': 95, '医疗器材': 94, '特殊教育': 91, '水利能源': 91, '特殊建造': 83, '铁路运输': 81, '公关': 79, '保健': 74, '石油工业': 73, '农林牧渔': 70, '航天': 69, '航运业': 67, '金属加工': 62, '社工服务': 55, '博物馆': 53, '家具': 53, '给排水': 48, '贸易零售': 48, '信贷': 47, '林业': 46, '博彩': 45, '煤炭工业': 40, '养老服务': 38, '物流递送': 38, '策展': 37, '大宗交易': 34, '纺织皮革业': 34, '塑料工业': 32, '地面运输': 31, '疗养服务': 20, '有色金属': 18, '黑色金属': 17, '印刷业': 16, '交通仓储': 15, '物业服务': 15, '土砂石开采': 13, '烟草业': 13, '邮政': 9, '开采冶金': 8, '造纸业': 7, '管线运输': 6, '地热开采': 5}

# 统计性别

In [45]:
for idx in range(0,len(raw_data)):
  ele_name = raw_data["name"][idx]
  print(ele_name+":",raw_data["gender"][idx])
  if idx > 10: break

张佳玮: 1
吐槽咪: 1
SunLau: 1
张英锋: 1
龚莞婷: 0
MasterPa: 1
白纱裙舞蹈: -1
汗青: 1
越石赋扶风: 0
Luxenius: 1
螺旋真理: 1
陈佩斯: 1

In [48]:
ret_dict = {
    }
attr = "gender"
data=raw_data[attr]
key="name"

i=0
for ele in raw_data[attr]:
    try:
      tmp_key = ele
      if tmp_key not in ret_dict:
        ret_dict[tmp_key] = 1
      else:
        ret_dict[tmp_key] += 1
    except:
      pass
    i += 1
  
ret_dict = {k: ret_dict[k] for k in sorted(ret_dict, key=ret_dict.get, reverse=True)}
ret_dict.pop('', None)


dictionary = ret_dict
dictionary["男"] = dictionary.pop(1)
dictionary["女"] = dictionary.pop(-1)
dictionary["未知"] = dictionary.pop(0)
print(dictionary)
sava_dict_count(attr, dictionary)

{'男': 32413, '女': 36929, '未知': 30676}

# 统计用户类别

In [50]:
my_set = set()
for idx in range(0,len(raw_data)):
  ele_name = raw_data["user_type"][idx]
  # print(ele_name+":",raw_data["user_type"][idx])
  my_set.add(raw_data["user_type"][idx])
  # if idx > 10: break
print(my_set)

{'people', 'organization'}

In [51]:
ret_dict = {
    }
attr = "user_type"
data=raw_data[attr]

i=0
for ele in raw_data[attr]:
    try:
      tmp_key = ele
      if tmp_key not in ret_dict:
        ret_dict[tmp_key] = 1
      else:
        ret_dict[tmp_key] += 1
    except:
      pass
    i += 1
  
ret_dict = {k: ret_dict[k] for k in sorted(ret_dict, key=ret_dict.get, reverse=True)}
ret_dict.pop('', None)


dictionary = ret_dict
dictionary["组织"] = dictionary.pop("organization")
dictionary["个人"] = dictionary.pop("people")
print(dictionary)
sava_dict_count(attr, dictionary)

{'组织': 815, '个人': 99203}

# 统计数值活跃度

In [7]:
num_columns = [
  "answer_count",
  "articles_count",
  "voteup_count",
  "thanked_count",
  "favorited_count",
  "follower_count",
  "following_count",
]

min_max_dict = {}
for attr in num_columns:
  min_max_dict[attr] = {}
  min_max_dict[attr]["min"] = 10000000
  min_max_dict[attr]["max"] = 0
  
for idx in range(0,len(raw_data)):
  for attr in num_columns:
    # print(raw_data[attr][idx])
    min_max_dict[attr]["min"] = min(min_max_dict[attr]["min"], raw_data[attr][idx])
    min_max_dict[attr]["max"] = max(min_max_dict[attr]["max"], raw_data[attr][idx])
  
print(min_max_dict)

{'answer_count': {'min': 0, 'max': 8067}, 'articles_count': {'min': 0, 'max': 3431}, 'voteup_count': {'min': 0, 'max': 6308619}, 'thanked_count': {'min': 0, 'max': 794983}, 'favorited_count': {'min': 0, 'max': 2467795}, 'follower_count': {'min': 0, 'max': 2123468}, 'following_count': {'min': 0, 'max': 11205}}

In [5]:
import math
for attr in num_columns:
  ret_dict = { }
  data=raw_data[attr]
  key="name"

  i=0
  for ele in data:
    try:
      length = min_max_dict[attr]["max"] - min_max_dict[attr]["min"]
      margin = length // 20
      if ele == 0:
        tmp_key = "0"
      else:
        tmp_key = "[" + str(pow(10, int(math.log10(ele)))) + ", "
        tmp_key += str(pow(10, int(math.log10(ele)) + 1))
        tmp_key += "]"
      if tmp_key not in ret_dict:
        ret_dict[tmp_key] = 1
      else:
        ret_dict[tmp_key] += 1
    except:
      pass
    i += 1
    
  ret_dict = {k: ret_dict[k] for k in sorted(ret_dict, key=ret_dict.get, reverse=True)}

  print(ret_dict)
  sava_dict_count(attr, ret_dict)

{'[1, 10]': 31722, '[10, 100]': 30358, '0': 29628, '[100, 1000]': 7970, '[1000, 10000]': 340}
{'0': 82890, '[1, 10]': 10921, '[10, 100]': 5176, '[100, 1000]': 1015, '[1000, 10000]': 16}
{'0': 37088, '[100, 1000]': 16921, '[10, 100]': 14654, '[1000, 10000]': 13929, '[1, 10]': 12678, '[10000, 100000]': 4479, '[100000, 1000000]': 262, '[1000000, 10000000]': 7}
{'0': 44841, '[10, 100]': 16960, '[1, 10]': 16282, '[100, 1000]': 15537, '[1000, 10000]': 5856, '[10000, 100000]': 523, '[100000, 1000000]': 19}
{'0': 43615, '[100, 1000]': 16361, '[10, 100]': 14941, '[1, 10]': 13172, '[1000, 10000]': 9661, '[10000, 100000]': 2123, '[100000, 1000000]': 143, '[1000000, 10000000]': 2}
{'[1, 10]': 28292, '[10, 100]': 23686, '0': 20020, '[100, 1000]': 19479, '[1000, 10000]': 7404, '[10000, 100000]': 1040, '[100000, 1000000]': 96, '[1000000, 10000000]': 1}
{'[10, 100]': 47155, '[1, 10]': 25214, '[100, 1000]': 21029, '0': 4915, '[1000, 10000]': 1704, '[10000, 100000]': 1}

# 高阶特征数据

In [4]:
total_count_dict = {}
for attr in raw_data:
    for ele in raw_data[attr]:
        count_dict = {}
        if isinstance(ele, list):
            if len(ele) > 0:
                for item in ele:
                    if "name" in item:
                        if not isinstance(item, dict):
                            continue
                        key = item["name"]
                        if key not in count_dict:
                            count_dict[key] = 1
                        else:
                            count_dict[key] += 1
                    else:
                        for item_key in item:
                            if not isinstance(item[item_key], dict):
                                continue
                            key = item[item_key]["name"]
                            if item_key not in count_dict:
                                count_dict[item_key] = {}
                            if key not in count_dict[item_key]:
                                count_dict[item_key][key] = 1
                            else:
                                count_dict[item_key][key] += 1
        elif isinstance(ele, dict):
            key = ele["name"]
            if key not in count_dict:
                count_dict[key] = 1
            else:
                count_dict[key] += 1
        else:
            key = ele
            if key not in count_dict:
                count_dict[key] = 1
            else:
                count_dict[key] += 1
    total_count_dict[attr] = count_dict
    # print("count_dict:",count_dict)

In [5]:
for attr in raw_data:
    count_dict = {}
    for ele in raw_data[attr]:
        if isinstance(ele, list):
            if len(ele) > 0:
                for item in ele:
                    if "name" in item:
                        if not isinstance(item, dict):
                            continue
                        key = item["name"]
                        if key not in count_dict:
                            count_dict[key] = 1
                        else:
                            count_dict[key] += 1
                    else:
                        for item_key in item:
                            if not isinstance(item[item_key], dict):
                                continue
                            key = item[item_key]["name"]
                            if item_key not in count_dict:
                                count_dict[item_key] = {}
                            if key not in count_dict[item_key]:
                                count_dict[item_key][key] = 1
                            else:
                                count_dict[item_key][key] += 1
        elif isinstance(ele, dict):
            key = ele["name"]
            if key not in count_dict:
                count_dict[key] = 1
            else:
                count_dict[key] += 1
        else:
            key = ele
            if key not in count_dict:
                count_dict[key] = 1
            else:
                count_dict[key] += 1

In [7]:
count_dict

{6308619: 1,
 2118: 3,
 90058: 1,
 419566: 1,
 320660: 1,
 36573: 1,
 13872: 1,
 358103: 1,
 17876: 1,
 199267: 1,
 277009: 1,
 83333: 1,
 21710: 2,
 570: 15,
 116239: 1,
 0: 37088,
 3: 1607,
 72947: 1,
 898: 8,
 32106: 1,
 63670: 1,
 823: 9,
 265231: 1,
 80955: 1,
 10930: 1,
 3408: 1,
 3670: 3,
 14: 405,
 185: 32,
 112087: 1,
 1605: 4,
 38609: 1,
 5816: 2,
 94408: 1,
 958: 9,
 859: 12,
 209055: 1,
 1993: 4,
 94388: 1,
 32843: 1,
 498820: 1,
 34: 169,
 48860: 1,
 38856: 1,
 6845: 3,
 93: 81,
 2: 2163,
 630263: 1,
 107: 70,
 44873: 1,
 60: 111,
 722230: 1,
 196765: 1,
 1444819: 1,
 215389: 1,
 470292: 1,
 6: 947,
 16: 357,
 4: 1267,
 417: 16,
 103: 77,
 1: 3626,
 6310: 2,
 9362: 1,
 45783: 1,
 349: 24,
 130062: 1,
 7631: 1,
 68718: 1,
 455575: 1,
 816: 10,
 668: 16,
 32327: 1,
 1263: 5,
 338: 28,
 688394: 1,
 119: 50,
 915: 5,
 461683: 1,
 168442: 1,
 344833: 1,
 1519: 7,
 630: 16,
 44498: 1,
 33: 195,
 402087: 1,
 677: 11,
 1020: 10,
 124: 50,
 30886: 1,
 29829: 1,
 59467: 1,
 156: 60,
 5: 1041,
 5911: 1,
 90657: 1,
 78451: 1,
 101453: 1,
 75057: 1,
 131775: 1,
 692895: 1,
 62115: 1,
 42477: 1,
 2362: 7,
 46796: 1,
 268236: 1,
 17240: 1,
 3254: 4,
 39426: 1,
 20096: 1,
 77: 105,
 228993: 1,
 5654: 2,
 136: 52,
 3329: 6,
 40682: 1,
 80246: 1,
 82831: 1,
 874972: 1,
 57904: 1,
 1340877: 1,
 1523: 4,
 5366: 3,
 2090: 3,
 480: 16,
 23030: 1,
 313082: 1,
 64008: 1,
 7676: 1,
 2220: 5,
 9: 584,
 1520: 7,
 24606: 1,
 431858: 1,
 10277: 4,
 5234: 1,
 8334: 2,
 44179: 1,
 17832: 1,
 29859: 1,
 1938170: 1,
 23235: 1,
 1051195: 1,
 142102: 1,
 19278: 1,
 94939: 1,
 5049: 1,
 1188: 3,
 20326: 1,
 13737: 1,
 21595: 1,
 12: 502,
 1960: 4,
 7196: 2,
 106: 62,
 160760: 1,
 11896: 1,
 52833: 1,
 50: 143,
 7: 758,
 367723: 1,
 44603: 1,
 91992: 1,
 13159: 1,
 81: 104,
 115: 64,
 59992: 1,
 249: 30,
 965: 8,
 35121: 1,
 2808: 3,
 2984: 2,
 13938: 2,
 18064: 2,
 21055: 1,
 9124: 1,
 9246: 1,
 8769: 2,
 12534: 1,
 69770: 1,
 51: 132,
 4720: 2,
 2587: 4,
 163544: 1,
 4159: 4,
 9087: 1,
 283: 32,
 383042: 1,
 355: 19,
 1119378: 1,
 20: 299,
 15: 360,
 305: 20,
 25346: 2,
 19: 307,
 84829: 1,
 19074: 1,
 52515: 1,
 14557: 2,
 3917: 4,
 986: 12,
 45: 137,
 32401: 1,
 217285: 1,
 9278: 1,
 1807: 5,
 83: 79,
 4116: 1,
 5497: 3,
 839005: 1,
 6613: 1,
 2931: 2,
 2717: 6,
 222: 33,
 35: 187,
 10974: 1,
 165255: 1,
 224494: 1,
 53387: 1,
 143: 57,
 7099: 2,
 6857: 1,
 6232: 3,
 49023: 1,
 28162: 1,
 142: 51,
 167704: 1,
 38496: 1,
 510: 12,
 56: 110,
 214336: 1,
 121: 61,
 11075: 1,
 1731: 5,
 1173: 3,
 22211: 1,
 5800: 4,
 9656: 1,
 628: 16,
 105672: 1,
 39772: 1,
 17296: 1,
 29149: 1,
 158: 43,
 157031: 1,
 21438: 1,
 32645: 1,
 213769: 1,
 10697: 2,
 11: 533,
 221894: 1,
 3347: 5,
 837: 14,
 11869: 1,
 18213: 2,
 36528: 1,
 7548: 1,
 8487: 2,
 27363: 1,
 710: 13,
 1115054: 1,
 25965: 1,
 4569: 2,
 36593: 1,
 17886: 1,
 24: 258,
 574: 11,
 136249: 1,
 2262: 3,
 15731: 2,
 2023: 4,
 2865: 4,
 11165: 1,
 224730: 1,
 74: 108,
 527: 19,
 58169: 1,
 18141: 2,
 1050: 5,
 65: 105,
 650: 12,
 80: 86,
 152: 56,
 6462: 1,
 69: 82,
 39: 156,
 341: 21,
 17: 353,
 636: 11,
 29365: 1,
 924: 12,
 215947: 1,
 4779: 3,
 13015: 2,
 22625: 1,
 220: 29,
 78: 85,
 28028: 1,
 92: 68,
 87219: 1,
 309: 19,
 53926: 1,
 626132: 1,
 84075: 1,
 13512: 1,
 13462: 1,
 110: 61,
 1501: 3,
 288: 27,
 15079: 1,
 29611: 1,
 2338: 1,
 99691: 1,
 535: 17,
 2052: 2,
 22638: 1,
 433: 19,
 884: 8,
 64695: 1,
 2018: 6,
 21726: 2,
 8: 685,
 2710: 5,
 129: 70,
 11477: 1,
 49: 144,
 11425: 2,
 823394: 1,
 4884: 3,
 44891: 1,
 2184: 4,
 30149: 1,
 357: 23,
 12659: 1,
 324595: 1,
 111913: 1,
 29275: 1,
 52241: 1,
 6006: 1,
 6876: 2,
 12889: 2,
 611: 11,
 23512: 1,
 2294: 3,
 150: 56,
 198: 41,
 15346: 1,
 1168: 5,
 32: 184,
 65856: 1,
 186: 32,
 44864: 1,
 29874: 1,
 21144: 2,
 36240: 1,
 42: 156,
 29: 231,
 6623: 1,
 144: 53,
 13: 423,
 27285: 1,
 148: 66,
 23917: 1,
 188: 39,
 100: 67,
 87: 79,
 64322: 1,
 42999: 1,
 397098: 1,
 1370: 5,
 156289: 1,
 4287: 2,
 30541: 1,
 544: 21,
 302: 34,
 6002: 4,
 97: 79,
 17090: 1,
 5579: 2,
 4399: 1,
 182: 45,
 41269: 1,
 149045: 1,
 32433: 1,
 612: 15,
 2490: 4,
 671: 20,
 95731: 1,
 10939: 1,
 5264: 2,
 1896: 2,
 35937: 1,
 28: 212,
 13038: 1,
 88195: 1,
 27: 227,
 290378: 1,
 1358: 6,
 109309: 1,
 3174: 3,
 7833: 3,
 15579: 1,
 294: 26,
 64: 107,
 6951: 2,
 2735: 3,
 615658: 1,
 2534: 2,
 70230: 1,
 90: 86,
 412: 13,
 172431: 1,
 61969: 1,
 327: 22,
 60421: 1,
 2948: 6,
 2231: 5,
 2495: 5,
 55264: 1,
 442: 21,
 6847: 4,
 13991: 1,
 2145: 5,
 5358: 1,
 77452: 1,
 22: 275,
 98520: 1,
 4376: 2,
 9718: 1,
 1007: 5,
 2847: 1,
 88814: 1,
 70: 103,
 23: 280,
 139: 39,
 591651: 1,
 18080: 1,
 29830: 2,
 37628: 1,
 8758: 1,
 25: 230,
 702: 15,
 2699: 4,
 986973: 1,
 4143: 4,
 64824: 1,
 254: 26,
 4854: 1,
 50289: 2,
 9343: 1,
 24618: 2,
 124285: 1,
 81127: 1,
 9199: 1,
 67: 102,
 52: 118,
 830: 7,
 3454: 2,
 10575: 3,
 25099: 1,
 22441: 1,
 10: 566,
 1734: 3,
 14496: 1,
 114: 47,
 131: 55,
 2257: 5,
 778: 10,
 155412: 1,
 12208: 1,
 64734: 1,
 32166: 1,
 13032: 1,
 17487: 2,
 67050: 1,
 128609: 1,
 75810: 1,
 2675: 1,
 951: 7,
 27758: 1,
 271: 17,
 113: 68,
 16539: 2,
 36: 165,
 185077: 1,
 1791: 3,
 943: 9,
 37075: 1,
 26906: 1,
 4326: 1,
 13676: 1,
 3662: 3,
 24305: 1,
 22648: 1,
 159: 36,
 194767: 1,
 5554: 2,
 2206: 6,
 13824: 1,
 4092: 3,
 10429: 2,
 2920: 3,
 1300: 5,
 26: 240,
 1471: 10,
 2862: 2,
 7120: 2,
 3826: 4,
 5163: 4,
 208237: 1,
 1337: 8,
 21034: 1,
 4275: 1,
 4094: 3,
 110644: 1,
 2816: 6,
 72055: 1,
 7323: 1,
 8971: 2,
 197: 41,
 4640: 5,
 9925: 1,
 1447: 3,
 1697: 3,
 128: 57,
 3754: 2,
 1294: 5,
 30: 210,
 676: 12,
 55838: 1,
 5277: 2,
 125: 45,
 18157: 1,
 12199: 2,
 17427: 1,
 73: 97,
 76: 92,
 29306: 1,
 16066: 1,
 541: 15,
 4490: 3,
 5275: 2,
 58889: 1,
 9147: 1,
 18: 348,
 17099: 1,
 10907: 1,
 5314: 2,
 3457: 1,
 61117: 1,
 13164: 1,
 5177: 1,
 430: 23,
 26059: 1,
 1522: 7,
 238: 27,
 5920: 1,
 16978: 1,
 5687: 2,
 9165: 1,
 2636: 2,
 62: 106,
 1409: 4,
 19032: 1,
 50494: 1,
 28768: 1,
 5623: 2,
 68021: 1,
 164766: 1,
 167173: 1,
 28171: 1,
 869759: 1,
 116: 55,
 2111: 3,
 273737: 1,
 4243: 2,
 29967: 1,
 221: 33,
 2982: 6,
 8119: 2,
 162: 53,
 678: 15,
 5792: 2,
 1326: 9,
 159563: 1,
 109638: 1,
 6480: 1,
 4543: 1,
 33757: 1,
 150966: 1,
 9353: 1,
 1963: 6,
 21399: 1,
 14725: 1,
 860: 8,
 2496: 5,
 11809: 2,
 1083: 12,
 7755: 1,
 27056: 1,
 20329: 2,
 8348: 1,
 7381: 1,
 103122: 1,
 4727: 1,
 63971: 1,
 50345: 1,
 178028: 1,
 14219: 2,
 5047: 2,
 9788: 1,
 18447: 1,
 486: 17,
 5124: 1,
 2643: 2,
 137: 57,
 1201: 7,
 2814: 2,
 608: 9,
 69932: 1,
 8794: 1,
 32787: 1,
 134: 64,
 13798: 1,
 282: 25,
 1717: 4,
 138: 53,
 383: 16,
 52451: 1,
 627151: 1,
 64368: 1,
 2777: 4,
 58: 108,
 7949: 3,
 2539: 5,
 112: 65,
 1904: 4,
 107035: 1,
 119869: 1,
 9689: 1,
 522443: 1,
 1338: 5,
 8961: 2,
 251: 27,
 9776: 2,
 191319: 1,
 6834: 1,
 26005: 1,
 190: 38,
 35451: 1,
 15476: 1,
 5613: 3,
 785: 10,
 423: 23,
 137684: 1,
 5691: 2,
 138343: 1,
 2530: 3,
 27797: 1,
 33622: 1,
 150883: 1,
 63441: 1,
 7280: 3,
 213: 37,
 23934: 1,
 675: 16,
 960: 11,
 44: 134,
 11188: 1,
 268: 29,
 165: 48,
 3415: 3,
 657: 16,
 3790: 1,
 11057: 2,
 11619: 1,
 2373: 3,
 1663: 5,
 12183: 1,
 3004: 5,
 2492: 1,
 2494: 1,
 4175: 1,
 1516: 5,
 17202: 1,
 562586: 1,
 819: 5,
 5023: 1,
 3208: 1,
 26439: 1,
 693: 5,
 1521: 6,
 418: 23,
 11841: 2,
 82: 75,
 445: 19,
 16071: 3,
 540008: 1,
 3112: 4,
 1141: 9,
 4182: 2,
 1627: 7,
 6134: 1,
 337: 25,
 111635: 1,
 17388: 1,
 8427: 2,
 4074: 2,
 8527: 1,
 8929: 1,
 5398: 3,
 110766: 1,
 14974: 2,
 16867: 1,
 105864: 1,
 44977: 1,
 41565: 1,
 21: 287,
 108622: 1,
 76158: 1,
 331: 32,
 154: 51,
 3849: 1,
 1893: 2,
 3814: 2,
 1164: 11,
 13252: 1,
 61552: 1,
 11012: 1,
 38233: 1,
 27549: 1,
 8724: 1,
 185741: 1,
 2207: 6,
 818: 6,
 1900: 3,
 2293: 3,
 1518: 7,
 139329: 1,
 6145: 1,
 18884: 1,
 5059: 1,
 32593: 1,
 1081: 8,
 352: 22,
 77258: 1,
 24537: 1,
 6768: 3,
 3595: 1,
 7817: 1,
 27745: 1,
 216588: 1,
 92514: 1,
 18642: 1,
 15390: 2,
 403: 14,
 12370: 1,
 15002: 1,
 237638: 1,
 7191: 1,
 137419: 1,
 801: 9,
 89994: 1,
 87535: 1,
 3515: 3,
 3355: 1,
 63: 100,
 4133: 1,
 25114: 1,
 1295: 6,
 214: 40,
 24605: 1,
 72: 86,
 36975: 1,
 7157: 1,
 34598: 1,
 574617: 1,
 284364: 1,
 109: 74,
 87236: 1,
 46: 131,
 257: 30,
 21198: 1,
 21456: 1,
 68975: 1,
 14706: 1,
 3905: 3,
 4717: 2,
 3858: 5,
 1233: 7,
 4505: 1,
 408: 9,
 6939: 1,
 35417: 1,
 2227: 4,
 32244: 1,
 9005: 2,
 140: 47,
 86: 75,
 3838: 1,
 198370: 1,
 101: 64,
 68766: 1,
 12684: 1,
 10897: 1,
 1446: 7,
 549: 19,
 453: 10,
 27845: 1,
 4331: 4,
 14862: 1,
 31283: 1,
 18079: 1,
 1127: 6,
 912: 6,
 2955: 2,
 40628: 1,
 7715: 2,
 80599: 1,
 62988: 1,
 177: 37,
 59947: 1,
 886: 12,
 8038: 2,
 7599: 1,
 12002: 2,
 14433: 2,
 48113: 1,
 25056: 2,
 5261: 2,
 11664: 2,
 29685: 1,
 26335: 1,
 1158: 7,
 7964: 2,
 244: 31,
 4339: 2,
 227: 34,
 74099: 1,
 10923: 2,
 968: 11,
 3311: 3,
 1833: 3,
 115613: 1,
 3569: 3,
 132557: 1,
 89: 89,
 120329: 1,
 1827: 4,
 58126: 1,
 38813: 1,
 792: 10,
 30098: 1,
 1865: 5,
 60767: 1,
 116486: 1,
 564: 14,
 560: 12,
 554: 13,
 12747: 1,
 139694: 1,
 3335: 3,
 712536: 1,
 265: 30,
 539: 13,
 23680: 1,
 3935: 2,
 6312: 3,
 980: 9,
 112548: 1,
 63101: 1,
 17643: 1,
 1262: 4,
 5041: 2,
 519: 14,
 229: 22,
 1361: 8,
 4362: 1,
 6307: 2,
 8906: 1,
 21017: 1,
 228: 39,
 1854: 1,
 9250: 1,
 2238: 3,
 761: 5,
 60037: 1,
 1329: 6,
 598: 18,
 18105: 1,
 804: 8,
 515: 15,
 204: 22,
 39958: 1,
 16812: 1,
 5826: 1,
 8541: 1,
 27906: 1,
 6519: 3,
 55062: 1,
 118244: 1,
 9811: 1,
 17185: 1,
 5615: 2,
 17667: 1,
 66: 115,
 1565: 5,
 172482: 1,
 1992: 1,
 67395: 1,
 643: 16,
 21615: 1,
 802: 7,
 46598: 1,
 26034: 1,
 2506: 2,
 41: 150,
 2430: 3,
 17568: 1,
 1600: 3,
 15966: 1,
 47: 145,
 34819: 1,
 32919: 1,
 22725: 1,
 19958: 1,
 865: 11,
 131116: 1,
 10587: 2,
 321: 25,
 92894: 1,
 24157: 1,
 169: 38,
 43820: 1,
 494: 17,
 176: 39,
 2312: 4,
 7990: 1,
 16725: 1,
 5624: 1,
 33649: 1,
 263: 30,
 2484: 3,
 310393: 1,
 1374: 7,
 19969: 1,
 32358: 1,
 89698: 1,
 3892: 2,
 38141: 1,
 614: 12,
 3659: 3,
 982: 9,
 1669: 3,
 285: 32,
 7440: 1,
 317: 23,
 6769: 2,
 339: 20,
 17621: 1,
 6288: 3,
 10652: 2,
 14702: 1,
 30246: 1,
 9275: 1,
 28230: 1,
 97259: 1,
 69329: 1,
 118388: 1,
 35799: 1,
 2421: 1,
 151: 54,
 3671: 2,
 8343: 1,
 3964: 1,
 1390: 12,
 250: 21,
 69779: 1,
 59594: 1,
 946: 9,
 180676: 1,
 48: 127,
 193: 34,
 18534: 1,
 34204: 1,
 66894: 1,
 2414: 10,
 145: 56,
 366: 26,
 53382: 1,
 95: 65,
 315: 23,
 98: 68,
 199994: 1,
 103121: 1,
 9871: 1,
 1682: 5,
 9114: 1,
 290: 34,
 147: 38,
 ...}

In [5]:
from tqdm import tqdm

num_columns = [
  "following_num",
]

following_count_dict = {}
  
for idx in tqdm(range(0, len(raw_data))):
  following_count_dict[raw_data['name'][idx]] = raw_data['following_count'][idx]
  
# print(following_count_dict)

100%|██████████| 100018/100018 [00:01<00:00, 51244.55it/s]

In [6]:
a = sorted(following_count_dict.items(), key=lambda x: x[1], reverse=True)
a = dict(a)

new_a = {}
for i, (k,v) in enumerate(a.items()):
    new_a[k]=v
    if i==50:
        print(new_a)
        break

{'柳亚': 11205, 'yskin': 7140, '宋前进': 6311, '英小胖': 6261, '吴思扬': 5246, '网路冷眼': 5170, 'liugazhi': 5000, '冯提莫是我校友': 5000, '青宁晴水': 5000, 'Amartya': 5000, '只关注本质': 5000, '不摇不摆胖大海': 5000, 'game love': 5000, '归兮彼荒': 5000, '绿绿经略使': 5000, '好运': 5000, '张宇泽': 5000, '汪蚁': 5000, '小小小小小茗': 5000, '荀子要劝学': 5000, '已退贵乎': 5000, '山水田园': 5000, '阿King': 5000, '王文平家的茶': 5000, 'leave': 5000, '安德烈': 5000, '南楠男': 5000, '王逸之': 5000, '苏利斌': 5000, '旧城往事': 5000, '岁月漫步': 5000, '陈天宇': 5000, '知难行亦难': 5000, '艾青': 5000, 'woma woma': 5000, '热水': 5000, '舵主家工作室': 5000, '浮在空中的鱼': 5000, '何梓': 5000, '简·丹': 5000, '人丑多读书奋进': 5000, 'ataiya': 5000, 'Steve He': 5000, '梁音': 5000, '唐唐': 5000, '王呆仁': 5000, '刘朝今': 5000, '施峥嵘': 5000, 'Noah White': 5000, '石秀': 5000, '王林杰': 5000}

In [7]:
import numpy as np
def default_dump(obj):
    """Convert numpy classes to JSON serializable objects."""
    if isinstance(obj, (np.integer, np.floating, np.bool_)):
        return obj.item()
    elif isinstance(obj, np.ndarray):
        return obj.tolist()
    else:
        return obj

import json
with open("following_num"+"_count.json", 'w', encoding='utf-8') as f:
    json.dump(new_a, f, ensure_ascii=False, indent=4, default=default_dump)