In [1]:
import pandas as pd

raw_data = pd.read_json("items.json")
raw_data.describe()

,answer_count,articles_count,favorited_count,follower_count,following_count,gender,thanked_count,voteup_count
count,100018.000000,100018.000000,1.000180e+05,1.000180e+05,100018.000000,100018.000000,100018.000000,1.000180e+05
mean,37.449999,4.451159,1.283739e+03,7.855568e+02,112.203903,-0.045152,370.752565,2.452141e+03
std,141.592722,34.148088,1.474934e+04,1.098500e+04,335.405797,0.831423,3864.296782,2.743925e+04
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,-1.000000,0.000000,0.000000e+00
25%,0.000000,0.000000,0.000000e+00,1.000000e+00,7.000000,-1.000000,0.000000,0.000000e+00
50%,4.000000,0.000000,2.000000e+00,1.100000e+01,24.000000,0.000000,1.000000,1.000000e+01
75%,24.000000,0.000000,1.580000e+02,1.340000e+02,87.000000,1.000000,68.000000,4.220000e+02
max,8067.000000,3431.000000,2.467795e+06,2.123468e+06,11205.000000,1.000000,794983.000000,6.308619e+06

In [ ]:
raw_data.iloc[0]

In [ ]:
data_name_follower_count.head()

In [2]:
raw_data['locations']

0                                                        []
1         [{'id': '', 'type': 'topic', 'url': '', 'name'...
2         [{'id': '19595689', 'type': 'topic', 'url': 'h...
3         [{'id': '19677358', 'type': 'topic', 'url': 'h...
4                                                        []
                                ...
100013                                                   []
100014    [{'id': '20658045', 'type': 'topic', 'url': 'h...
100015                                                   []
100016                                                   []
100017                                                   []
Name: locations, Length: 100018, dtype: object

In [3]:
raw_data['has_locations'] = raw_data.locations.apply(lambda x: x != [])

# 筛选包含'地区'字段的用户
data_name_locations = raw_data.loc[raw_data['has_locations'] == True, ('name','locations')]

def calc_citylist(list):
    res = []
    for item in list:
        res.append(item['name'])
    return res

# 提取'地区'名
data_name_locations['city'] = data_name_locations.locations.apply(lambda x: calc_citylist(x))
data_name_locations.reset_index(inplace = True)
data_name_locations.drop(['index', 'locations'], axis = 1, inplace = True)
data_name_locations

              name                  city
0              吐槽咪            [山东省, 威海市]
1           SunLau  [苏州, 济南, 郑州, 东莞, 北京]
2              张英锋                 [多伦多]
3         MasterPa    [北京, 滑铁卢, 长春, 多伦多]
4               汗青                  [北京]
...            ...                   ...
30181          戏噱鬼                 [长沙市]
30182           柯乔                [广西南宁]
30183    Vacancy98             [波士顿, 成都]
30184  thanksdyana                 [河南省]
30185        uchen                  [HZ]

[30186 rows x 2 columns]

In [57]:
import json

data_name_locations.to_json('name_city.json', orient = 'index', force_ascii=False)

with open("name_city.json",'r') as load_f:
    load_dict = json.load(load_f)

with open("name_city.json","w") as f:
    json.dump(load_dict, f, indent=4, ensure_ascii=False)

In [6]:
city_dict = {
  "北京": ["北京"],
  "天津": ["天津"],
  "山西": ["太原", "阳泉", "晋城", "长治", "临汾", "运城", "忻州", "吕梁", "晋中", "大同", "朔州"],
  "河北": ["沧州", "石家庄", "唐山", "保定", "廊坊", "衡水", "邯郸", "邢台", "张家口", "辛集", "秦皇岛", "定州", "承德", "涿州"],
  "山东": ["济南", "淄博", "聊城", "德州", "滨州", "济宁", "菏泽", "枣庄", "烟台", "威海", "泰安", "青岛", "临沂", "莱芜", "东营", "潍坊", "日照"],
  "河南": ["郑州", "新乡", "鹤壁", "安阳", "焦作", "濮阳", "开封", "驻马店", "商丘", "三门峡", "南阳", "洛阳", "周口", "许昌", "信阳", "漯河", "平顶山", "济源"],
  "广东": ["珠海", "中山", "肇庆", "深圳", "清远", "揭阳", "江门", "惠州", "河源", "广州", "佛山", "东莞", "潮州", "汕尾", "梅州", "阳江", "云浮", "韶关", "湛江", "汕头", "茂名"],
  "浙江": ["舟山", "温州", "台州", "绍兴", "衢州", "宁波", "丽水", "金华", "嘉兴", "湖州", "杭州"],
  "宁夏": ["中卫", "银川", "吴忠", "石嘴山", "固原"],
  "江苏": ["镇江", "扬州", "盐城", "徐州", "宿迁", "无锡", "苏州", "南通", "南京", "连云港", "淮安", "常州", "泰州"],
  "湖南": ["长沙", "邵阳", "怀化", "株洲", "张家界", "永州", "益阳", "湘西", "娄底", "衡阳", "郴州", "岳阳", "常德", "湘潭"],
  "吉林": ["长春", "长春", "通化", "松原", "四平", "辽源", "吉林", "延边", "白山", "白城"],
  "福建": ["漳州", "厦门", "福州", "三明", "莆田", "宁德", "南平", "龙岩", "泉州"],
  "甘肃": ["张掖", "陇南", "兰州", "嘉峪关", "白银", "武威", "天水", "庆阳", "平凉", "临夏", "酒泉", "金昌", "甘南", "定西"],
  "陕西": ["榆林", "西安", "延安", "咸阳", "渭南", "铜川", "商洛", "汉中", "宝鸡", "安康"],
  "辽宁": ["营口", "铁岭", "沈阳", "盘锦", "辽阳", "锦州", "葫芦岛", "阜新", "抚顺", "丹东", "大连", "朝阳", "本溪", "鞍山"],
  "江西": ["鹰潭", "宜春", "上饶", "萍乡", "南昌", "景德镇", "吉安", "抚州", "新余", "九江", "赣州"],
  "黑龙江": ["伊春", "七台河", "牡丹江", "鸡西", "黑河", "鹤岗", "哈尔滨", "大兴安岭", "绥化", "双鸭山", "齐齐哈尔", "佳木斯", "大庆"],
  "安徽": ["宣城", "铜陵", "六安", "黄山", "淮南", "合肥", "阜阳", "亳州", "安庆", "池州", "宿州", "芜湖", "马鞍山", "淮北", "滁州", "蚌埠"],
  "湖北": ["孝感", "武汉", "十堰", "荆门", "黄冈", "襄阳", "咸宁", "随州", "黄石", "恩施", "鄂州", "荆州", "宜昌", "潜江", "天门", "神农架", "仙桃"],
  "青海": ["西宁", "海西", "海东", "玉树", "黄南", "海南", "海北", "果洛"],
  "新疆": ["乌鲁木齐", "克州", "阿勒泰", "五家渠", "石河子", "伊犁", "吐鲁番", "塔城", "克拉玛依", "喀什", "和田", "哈密", "昌吉", "博尔塔拉", "阿克苏", "巴音郭楞", "阿拉尔", "图木舒克", "铁门关"],
  "贵州": ["铜仁", "黔东南", "贵阳", "安顺", "遵义", "黔西南", "黔南", "六盘水", "毕节"],
  "四川": ["遂宁", "攀枝花", "眉山", "凉山", "成都", "巴中", "广安", "自贡", "甘孜", "资阳", "宜宾", "雅安", "内江", "南充", "绵阳", "泸州", "凉山", "乐山", "广元", "甘孜", "德阳", "达州", "阿坝"],
  "上海": ["上海"],
  "广西": ["南宁", "贵港", "玉林", "梧州", "钦州", "柳州", "来宾", "贺州", "河池", "桂林", "防城港", "崇左", "北海", "百色"],
  "西藏": ["拉萨", "山南", "日喀则", "那曲", "林芝", "昌都", "阿里"],
  "云南": ["昆明", "红河", "大理", "玉溪", "昭通", "西双版纳", "文山", "曲靖", "普洱", "怒江", "临沧", "丽江", "红河", "迪庆", "德宏", "大理", "楚雄", "保山"],
  "内蒙古": ["呼和浩特", "乌兰察布", "兴安", "赤峰", "呼伦贝尔", "锡林郭勒", "乌海", "通辽", "巴彦淖尔", "阿拉善", "鄂尔多斯", "包头"],
  "海南": ["海口", "三沙", "三亚", "临高", "五指山", "陵水", "文昌", "万宁", "白沙", "乐东", "澄迈", "屯昌", "定安", "东方", "保亭", "琼中", "琼海", "儋州", "昌江"],
  "重庆": ["重庆"]
}

reverse_city_dict = {}
for shengfen, cities in city_dict.items():
  for city in cities:
    reverse_city_dict[city] = shengfen

reverse_city_dict['帝都'] = '北京'
reverse_city_dict['魔都'] = '上海'

In [7]:
import json

with open("name_city.json",'r') as load_f:
    load_dict = json.load(load_f)

new_dict = {}
for _, name_city in load_dict.items():
    name, cities = name_city['name'], name_city['city']
    new_cities = set() # set去重
    for city in cities:
        # 删除 省/市 字符
        city = city.replace('省', '')
        city = city.replace('市', '')
        # 市 -> 省
        if city in reverse_city_dict.keys():
            new_cities.add(reverse_city_dict[city])
        else:
            flag = False
            # 如果'地区'名包含 省/市，替换
            for k, v in reverse_city_dict.items():
                if k in city or v in city:
                    new_cities.add(v)
                    flag = True
                    break
            if flag == False:
                new_cities.add(city)

    new_dict[name] = new_cities

In [89]:
def set_default(obj):
    if isinstance(obj, set):
        return list(obj)
    raise TypeError

# save JSON file
with open("new_name_city.json","w") as f:
    json.dump(new_dict, f, indent=4, ensure_ascii=False, default=set_default)